body.mybody[data-scroll-locked] {
    overflow-y: scroll !important;
    margin-right: 0 !important;
}

.maxWidth_700 {
    max-width: 700px;
}

.product-description {
    h3 {
        margin-top: 15px;
    }
    ul {
        margin-top: 15px;
        li {
            margin-bottom: 10px;
        }
    }
}

.gallery-next:disabled, .gallery-prev:disabled {
    opacity: 0.3;
}